@model PruebaDetail.Models.Lavado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lavado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Costo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Costo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PuntosRequeridos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PuntosRequeridos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PuntosOrtorgados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PuntosOrtorgados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lavador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lavador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pulidor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pulidor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Tipo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
