@model IEnumerable<PruebaDetail.Models.Sucursal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Canton)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeApertura)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Canton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeApertura)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Nombre">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Nombre">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Nombre">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
